In [1]:
import readability
import json
import pandas as pd

In [4]:
#Create a dataframe with all stories and their generations

all_stories = json.load(open('../books/real_processed.json'))
all_stories = pd.DataFrame(all_stories)
all_stories.head()
gen_stories = json.load(open('../books/from_server/gen_stories_opt.json'))
gen_stories = pd.DataFrame(gen_stories)
all_stories = all_stories.merge(gen_stories, on=['id'], how='left')

all_stories['story_len'] = 0
all_stories['gen_story_len'] = 0
all_stories['gen_story_only_len'] = 0
all_stories['story_score'] = 0
all_stories['gen_story_score'] = 0
all_stories['gen_story_only_score'] = 0
all_stories.head()

,id,text,title,gen_id,p_length,model_name,gen_text,prompt,story_len,gen_story_len,gen_story_only_len,story_score,gen_story_score,gen_story_only_score
0,0,It was beautiful in the country. It was summer...,THE UGLY DUCKLING\n,0,first_line,opt,It was beautiful in the country. It rained on...,It was beautiful in the country.,0,0,0,0,0,0
1,0,It was beautiful in the country. It was summer...,THE UGLY DUCKLING\n,1,first_line,opt,It was beautiful in the country.\nIt was the m...,It was beautiful in the country.,0,0,0,0,0,0
2,0,It was beautiful in the country. It was summer...,THE UGLY DUCKLING\n,2,first_line,opt,It was beautiful in the country. Really green ...,It was beautiful in the country.,0,0,0,0,0,0
3,0,It was beautiful in the country. It was summer...,THE UGLY DUCKLING\n,3,256_tokens,opt,It was beautiful in the country. It was summer...,</s>It was beautiful in the country. It was su...,0,0,0,0,0,0
4,0,It was beautiful in the country. It was summer...,THE UGLY DUCKLING\n,4,256_tokens,opt,It was beautiful in the country. It was summer...,</s>It was beautiful in the country. It was su...,0,0,0,0,0,0